/* CSS for CetLoXBlock - studio view */

.cetloxblock-container {
  direction: rtl;
}

.cetloxblock-container .cet-lo-list {
  display: flex;
  list-style: none;
  max-width: 700px;
  margin: auto;
  flex-wrap: wrap;
  background-color: aliceblue;
  padding: 0;
  max-height: 310px;
  overflow-y: scroll;
}

.cetloxblock-container .cet-lo-item {
    cursor: pointer;
    text-align: justify;
    min-width: 30%;
    padding: 20px;
    margin: 20px;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border: 4px outset;
    background-color: lightblue;
}

.cetloxblock-container .cet-lo-item .cet-lo-item-title {
  text-align: center;
  flex-grow: 2;
}

.cetloxblock-container .cet-lo-item .cet-lo-icon-container {
  width: 56px;
  height: 56px;
  overflow: hidden;
}
.cetloxblock-container .cet-lo-item .cet-lo-item-view {
  width: 40px;
  text-align: center;
  display: inline-block;
}

.cetloxblock-container .cet-lo-item.cet-lo-selected {
    border-style: inset;
    background-color: skyblue;
}
